.page-menu .settings {
  display: none;
}

.page-menu .tsd-accordion-summary h3 {
  display: flex;
  align-items: center;

  svg {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
  }
}

code {
  border-radius: 0.4em;
}
